body{
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	text-align:center;
	font-family: Arial;
	color: #555;
}
#wrapper{
	margin:0 auto;
	width: 100%;
	background-color:#FFF;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#userName{
	height: 30px;
	background-color: #9ba961;	
}
#top{
	height: 70px;
	background-color: #f1f1f1;
	border-bottom: 3px solid #e5e5e5;
}
#logo{
	height: 80;
	width: 187;
	border:0;
	float: left;
	margin-top:10px;
	margin-left: 20px;
}
#join{
	height: 40px;
	width: 120px;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}
#middle{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}
#bottom{
	margin-top: 50px;	
	border-bottom: 3px solid #e5e5e5;
}
#footer{
	font-size:10px;
	height:40px;
}
hr{
	margin-left: 10px;
	margin-right: 10px;
	height: 0.5px;
	border : 1px solid #ccc;
}
.clearFloat{
	clear: both;
}