.bigInputText,.bigInputPassword{
	margin-bottom:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #ccc;
	padding-right: 4px;
	color: #515151;
	font-size: 22px;
	height: 48px;
	text-align: center;
	vertical-align: middle;
}
.bigSubmit{
	width: 120px;
	height: 40px;
	color:#fff;
	font-weight: bold;
	font-size: 15px;
	margin:0;
	padding:0;
	border:0;
	background-color: #fff;
	background-image: url(../img/sprite/button/input-submit-sprite2.png);
}
.bigInputText:hover,.bigInputPassword:hover{
	border-color: #9ba961;
}
.bigSubmit:hover{
	background-position: 0 40px;
}
.smallSubmit{
	margin:0;
	padding:0;
	border:0;
	height: 30px;
	width: 120px;
	font-weight: bold;
	background-color: #fff;
	color:#fff;
	background-image: url(../img/sprite/button/input-submit-sprite.png);
}
.smallSubmit:hover{
	background-position: 0 30px;
}
.smallInputText{
	margin-bottom:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #ccc;
	color: #515151;
	font-size: 12px;
	height: 20px;
}
.smallInputText:hover,.smallTextArea:hover{
	border-color: #9ba961;
}
.smallTextArea{
	margin-bottom:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #ccc;
	color: #515151;
	font-size: 12px;
	height: 100px;
	width: 600px;
}
.radio{
	width:50px;
	margin:0;
	padding:0;	
}
label{
	font-weight: bold;
	font-size: 12px;
	color: #555;
	margin-top:15px;
	float:left;
	width: 100%;
}
.questionario label{
	width: 150px;
	float:none;	
}