body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    text-align:center;
    font-family: Arial;
    color: #555;
}
#wrapper{
    margin:0 auto;
    width: 100%;
    background-color:#FFF;	
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#userName{
    height: 30px;
    background-color: #9ba961;	
}
#top{
    height: 70px;
    background-color: #f1f1f1;
    border-bottom: 3px solid #e5e5e5;
}
#logo{
    height: 80;
    width: 187;
    border:0;
    float: left;
    margin-top:10px;
    margin-left: 20px;
}
#user{
    margin-right: 30px;
    text-align: right;
    font-size: 20px;
    color: #FFF;
}
#menu{
    float: right;
    margin-right: 100px;
    width: 400px;
    font-family: Arial;
    font-weight: bold;
    padding-left: 35px;
}
#menu ul {
    padding:0;
    margin:0 auto;
    float: left;
    width: 100%;
    height: 70px;
    list-style:none;
}
#menu ul li { display: inline; }
#menu ul li a {
    padding: 25px 10px;
    width: 70px;
    float:left;
    /* visual do link */
    font-size: 16px;
    color: #555;
    border-bottom:3px solid #EDEDED;
}
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #9ba961;
}
#middle{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    text-align: left;
}
#bottom{
    margin-top: 50px;	
}
#footer{
    font-size:10px;
    height:40px;
}
hr{
    margin-left: 10px;
    margin-right: 10px;
    height: 0.5px;
    border : 1px solid #ccc;
}

a:link {text-decoration: none;font-family:arial;color: #808080;font-size: 12px;}
a:visited {text-decoration: none;font-family:arial;color: #808080;font-size: 12px;}
a:hover {text-decoration: underline;font-family:arial,;color: #808080;font-size: 12px;}
a:active {text-decoration: none;font-family:arial;color: #808080;font-size: 12px;}


.list tr:not(:first-child):hover td {
    background-color: #d6d6d6;
    border-bottom: 1px solid #9ba961;
    color: #6d6d6d;
}

.link_avaliacao  {
    font-size:9pt; 
    color:#9ba961; 
    text-shadow: 0px 1px 1px #9ba961
}
.link_avaliacao:hover  {
    background-color: #d6d6d6;
    border-bottom: 1px solid #9ba961;
    color: #6d6d6d;
}


.clearFloat{
    clear: both;
}
.list{
    width: 100%;
}
.cell{
    height: 30px;
    background-color: #fff;
    padding-left: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.title{
    height: 30px;
    color: #fff;
    padding-left: 10px;
    background-color: #5d5a5a;	
}
.actionCell{
    width: 70px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.error{
    clear: both;
    color: #fff;
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 1em 0;
    background: red;
    padding: 5px;
    text-align:center;
}
.success{
    clear: both;
    color: #fff;
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 1em 0;
    background: #2b72d5;
    padding: 5px;
    text-align:center;
}
