.esquerda{
	float: left;
	border-left: 1px solid #000;
	padding-left: 5px;
	padding-bottom: 15px; 		
}
.direita{
	float: right;	
}
.umaColuna{
	padding-bottom: 15px;	
}
.duasColunas{
	width: 400px;	
}
.tresColunas{
	width: 250px;	
}
.caixaRelatorio{
	border: 1px solid #000;

	padding-left: 5px;	
	margin-bottom:8px;
}
.semBorda{
	border: 0px;	
}
.centralizado{
	text-align:center;	
}
