/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #9ACD32;
	padding: 4px 8px;
	border: 1px solid rgba(0,255,255,0.25);
	background-color: #9ACD32;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #9ACD32;
	-webkit-box-shadow: 0 0 3px #9ACD32;
	-moz-box-shadow: 0 0 3px #9ACD32;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {

	border-top-color: #9ACD32;
}

#tiptip_holder.tip_bottom #tiptip_arrow {

	border-bottom-color: #9ACD32
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #9ACD32
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: rgba(0,206,209,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;

	border-top-color: #9ACD32;
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;

	border-bottom-color: #9ACD32;
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;

	border-right-color: #9ACD32;
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;

	border-left-color: #9ACD32;
}

