body{
	border:0;
	margin:0;
	text-align: center;
	background-image: url('../img/background.png');
	background-repeat: repeat-x;
	font-family: arial;
	font-size: 12px;
	color: #9ba961;
	font-weight: bold;
}
#logo{
	position: absolute;
	z-index: 2;
	top: 0;
	left: 835px;
}
#topo{
	background-color: #bdc9a1;
	width: 100%;
	height: 32px;
}
#engloba{
	margin: 0 auto;
	width: 886px;
	padding-bottom: 30px;
}
#menu{
	width: 100%;
	height: 50px;
	margin-bottom: 35px;
}
#menu ul{
	float:left;
	width:100%;
	padding:0;
	margin-top:20px;
	list-style-type:none;
}
#menu a{
	float:left;
	width:6em;
	text-decoration:none;
	font-size: 14px;
	color:#bdc9a1;
	padding:5px 40px;
}
#menu a:hover{
	color:#9ba961;
}
#menu li{
	display:inline;
}
#tela{
	float: left;
	width: 600px;
	height: 220px;
}
#texto{
	float: right;
	height: 215px;
	width: 283px;
	background-image: url('../img/backgroundTexto.png');
	background-repeat: no-repeat;
	text-align: left;
	padding-left: 3px;
	padding-top: 5px;
}
#limpa_float{
	clear:both;
}
#rodape{
	background-color: #9ba961;
	width: 100%;
	height: 75px;
	position: absolute;
	bottom: 0;
}
#conhecaAgora{
	text-align: right;
	height: 26px;
}
.noticia{
	margin-top: 10px;
	width: 295.3px;
	height: 155px;
	text-align: center;
	font-size:11px;
	font-weight: normal; 
	float: left;
}
.noticia div{
	text-align: left;
	padding-left: 40px;
}