<h3>Duplicar Relatório</h3>
<br />
<br />
Avalia??o:<h3><?php echo $avaliacao['Avaliacao']['titulo']; ?></h3>
Objeto:<h3><?php echo $avaliacao['Objeto']['nome']; ?></h3>
Universo:<h3><?php echo $avaliacao['Universo']['nome']; ?></h3>
Amostra:<h3><?php echo $avaliacao['Amostra']['nome']; ?></h3>

<br />

<?php debug($relatorio);
exit; ?>
<?php //foreach ($relatorio as $indice => $dimensao) : ?>
<?php //endforeach; ?>

