<?php

echo $session->flash();

if (!$respondido) :
    echo "<h3>Question&aacute;rio</h3>";
    echo $form->create('Avaliacao', array('action' => 'escolher'));
    echo "<br />";
    echo $form->input('codigo', array('type' => 'text', 'label' => 'Digite o c&oacute;digo do question&aacute;rio que deseja responder agora:', 'class' => 'smallInputText'));
    echo "<br />";
    echo $form->submit('Continuar', array('class' => 'smallSubmit'));
    if (!empty($msg)) {
        echo $msg;
    }
endif;


//echo $form->create('Avaliacao', array('action' => 'escolher'));
//echo "<br />";
//echo $form->input('avaliacao_id', array('type' => 'select' ,'label' => 'Escolha qual question&aacute;rio deseja responder agora:','class' => 'smallInputText', 'options' => $avaliacaos, 'selected' => 'Sim'));
//echo "<br />";
//echo $form->submit('Escolher', array('class' => 'smallSubmit'));

//$options = array('M' => 'Masculino', 'F' => 'Feminino');
//$atributos = array('legend' => false);
//            echo $form->radio('teste', $options, $atributos);





